body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
 
}
.header, .footer{
    height: 32px;
}
.header-links{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
ul {
    gap: 32px;
    list-style-type: none;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 auto;
}
.container-one, .container-two, .container-three, .container-four {
    flex: 1;
    width: 100%;
    min-height: fit-content;
}
.container-one {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;  
    justify-content: center;
    align-items: center; 
    flex-flow: row;   
    flex-wrap: wrap-reverse;
    padding: 52px 0;
}
.one-left {
    margin: 0 80px;
    max-width: 750px;
    /* border-left: 24px;
    padding-left: 2rem; */
}
.header-one {
    font-size: 48px;
    font-weight: 800;
    margin: -40px auto;
}
.text-one {
    margin-bottom: 32px;
    font-size: 18px;
    color: #e5e7eb;

}
button {
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 24px;
    text-decoration: none;
    border: none;
}
img  {
    border-radius: 10px;
}  
.container-two {
    gap: 52px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 32px;
    max-width:1250px;
    display: flex;
    flex-direction: column;
    
}
@media screen and (max-width: 992px) {
  .images-two {
    max-width: 50%;
    align-items: center;
  }
}
.images-two {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.items-two {
    width:240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
}
.header-two {
    font-size: 36px;
    font-weight: 800;
    margin: 24px;
    color: #1F2937;
}
.text-two  {
    color: rgb(75, 75, 75);
    flex-wrap: wrap;
    width: 200px;
}
.container-three {
    background-color: #e5e7eb;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}
.content-three {
    display: flex;
    flex-direction: column;
    max-width: 60%;
}
.text-three {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 1200px;
    margin: 60px;
}
.name-three {
    font-size: 24px;
    font-weight: 800px;
    color: #1f2937;
    margin: 40px;
    white-space: nowrap;
    text-align: right;
}
.container-four {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
}
.content-four{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 240px;
    max-width: 1200px;
    padding: 40px 120px;
    border-radius: 10px;
    margin: 100px;
    gap: 180px;
   flex: 1 1 0;
}

h3, p {
    margin: 0;
    padding: 0;
}
.signuptwo {
    border-color: #F9FAF8;
    border: 2px solid;
    width: 150px;

}
.text-four {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;
   
}
.footer {  
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    padding: 18px;
}