body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    min-height: fit-content;
}
/*Header*/
.header{
    justify-content: space-around; 
    align-items: center;
}
.header, .footer{
    display: flex;
    background-color: #1f2937;
    padding: 10px;
    color: #F9FAF8;
}
.logo {
    font-size: 28px;
}
ul {
    gap: 32px;
    list-style-type: none;
    font-size: 18px;
    display: flex;
}

/*Section One*/
.sectionone {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;  
    justify-content: center;
    align-items: center; 
    flex-flow: row;   
    flex-wrap: wrap-reverse;
    padding-bottom: 52px;
    gap: 75px;
}
.one-left {
    margin: 0 80px;
    max-width: 600px;    
}

button {
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 24px;
    text-decoration: none;
    border: none;
}
img  {
    border-radius: 10px;
}  

/* Section Two */
.sectiontwo {
    gap: 10px;
    text-align: center;
    margin: 32px;
    display: flex;
    flex-direction: column;
}
.images-two {
    display: flex;
    flex-wrap: wrap;
    gap: 52px;
    justify-content: center;
}
@media screen and (max-width: 1200px) {
  .item {
    flex: 45%;
  }
}
.item {
    width:240px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
}
.title {
    font-size: 36px;
    font-weight: 800;
    margin: 24px;
    color: #1F2937;
}
.text-two  {
    color: rgb(75, 75, 75);
    flex-wrap: wrap;
    width: 200px;
}

/*Section Three*/
.sectionthree {
    background-color: #e5e7eb;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 1200px;
    margin: 60px;
}
.quoted {
    font-size: 24px;
    font-weight: 800px;
    color: #1f2937;
    margin: 40px;
    white-space: nowrap;
    text-align: right;
}

/*Section Four*/
.sectionfour {
    display: flex;
    justify-content: center;
}
.content-four{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 40px 120px;
    border-radius: 10px;
    margin: 130px;
    gap: 180px;
    flex: 1 1 0;
}
h3, p {
    margin: 0;
    padding: 0;
    color: white;
    min-width: 245px;
}
.signuptwo {
    border-color: #F9FAF8;
    border: 2px solid;
    min-width: 150px;
}
/*Footer*/
.footer {  
    justify-content: center;
    color: #F9FAF8;
}